@charset "utf-8";

/* -------------------- Main Body Stuff -------------------- */
html {
    position: relative;
    min-height: 100%
}

body {
    /* background */
    background-color: #cab0e4;

    /* modify the font */
    color: #000000;
    font-size: 20px;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 50px;
    text-shadow: 4px 4px 2px #c1d5ff;
}

/* -------------------- Main Body Class Items -------------------- */
.footer {
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

@media (min-width: 1000px) {
    .container {
      max-width: 1000px;
    }
}

@media (min-width: 1900px) {
    .container {
      max-width: 1700px;
    }
}

  
  